body {
    background-color: rgb(53, 70, 226);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    font-size: 12pt;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px black;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

#input-ano{
    width: 100px;
}

.div-1{
    width: max-content;
    margin: auto;
    text-align: center;
}

#res{
    text-align: center;
}